<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IR Admin</title>
  </head>
  <body>
    <h1>Welcome to IR Admin Portal</h1>
    <br><br><br>
    <button type="button" name="button"><a href="/contacts">Contacts Made</a></button><br><br>
    <button type="button" name="button"><a href="/posts">Posts Approval</a></button><br><br>
    <button type="button" name="button"><a href="/subscriptions">Mail Subscriptions</a></button>
  </body>
</html>
