<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mail subscriptions</title>
</head>

<body>
  <a href="mailto:<%= csvContent %>">Email Subscribers</a><br><br>
  <p><%= csvContent %></p>
</body>

</html>
